In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import pairwise_distances
from sklearn.metrics import mean_squared_error
from math import sqrt
import scipy.sparse as sp
from scipy.sparse.linalg import svds

## 1. Loading the data set

In [2]:
header = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('/Users/zhaoxiangyu/Desktop/ml-100k/u.data', sep='\t', names=header)

In [3]:
n_users = df.user_id.unique().shape[0]
n_items = df.item_id.unique().shape[0]
print 'Number of users = ' + str(n_users) + ' | Number of movies = ' + str(n_items)

Number of users = 943 | Number of movies = 1682

##  2.Split the data into training and testing

In [4]:
from sklearn import cross_validation as cv
train_data, test_data = cv.train_test_split(df, test_size=0.20)

/Users/zhaoxiangyu/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

## 3.Fiiling in the matrix from traing and testing data

In [5]:
train_data_matrix = np.zeros((n_users, n_items))
for line in train_data.itertuples():
    train_data_matrix[line[1]-1, line[2]-1] = line[3]

test_data_matrix = np.zeros((n_users, n_items))
for line in test_data.itertuples():
    test_data_matrix[line[1]-1, line[2]-1] = line[3]

## 4.Running the model

In [6]:
#### Calculate and get the cosine similarity between users.
user_similarity = pairwise_distances(train_data_matrix, metric='cosine')

In [7]:
#### Function to calculate mean of row data except "0". 
def non_zero_mean(x):
    return x[x != 0].mean()

#### Function to predict the target user's rating.
def predict(ratings, similarity, type):
    if type == 'user':
        mean_user_rating = np.apply_along_axis(non_zero_mean, axis = 1, arr = ratings)
       #### ratings_diff is the normalized matrix data
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        ratings_diff = np.where(ratings_diff==-mean_user_rating[:, np.newaxis],0,ratings_diff)
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [8]:
pred=predict(train_data_matrix, user_similarity, type='user')

#### This is the prediction result matrix from training matrix and similarity matrix.

In [9]:
pred

array([[ 3.71437318,  3.59241333,  3.58896429, ...,  3.61538462,
         3.61538462,  3.61511958],
       [ 3.8671127 ,  3.72609137,  3.72583341, ...,  3.75510204,
         3.75510204,  3.75465709],
       [ 2.89491306,  2.75171253,  2.74908764, ...,  2.7804878 ,
         2.7804878 ,  2.78005192],
       ...,
       [ 4.16456666,  4.03897108,  4.03774203, ...,  4.06666667,
         4.06666667,  4.06625615],
       [ 4.44581943,  4.3118822 ,  4.30750243, ...,  4.33823529,
         4.33823529,  4.33783725],
       [ 3.54444169,  3.42147862,  3.41882179, ...,  3.44680851,
         3.44680851,  3.44651944]])

## 5.Testing the model and calculate the metrics.

In [10]:
test=np.where(test_data_matrix == 0, 0, pred)
test

array([[ 3.71437318,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

In [11]:
df2=pd.DataFrame(test)

In [12]:
#### Function to filling the predition results in the original table
#### from prediciton matrix
def add_pred(x):
    return df2.iloc[int(x[0]-1),int(x[1]-1)]
pred_col = df.apply(add_pred, axis = 1)

## 6.Recommend top 8 movies to users according to prediciton ratings.

In [13]:
df["pred"] = pred_col
df3=df[df['pred']>=4]
REC=df3.sort_values('pred',ascending=False).groupby('user_id').head(8)
(REC.sort_values('user_id')['rating']>=4).sum()

1230

#### Return the Precision of mdel with recommending top 8 movies

In [14]:
(REC.sort_values('user_id')['rating']>=4).sum()*1.0/len(REC.index)

0.83844580777096112

#### Return the table to compare prediction ratings and true ratings

In [15]:
REC.sort_values('user_id',ascending=True)

       user_id  item_id  rating  timestamp      pred
16305        4       50       5  892003526  4.576341
18930        4      354       5  892002353  4.195353
12151        4      294       5  892004409  4.049674
71055        4      362       5  892002352  4.191094
72875        7      427       5  891352220  4.075145
19720        7      515       3  891350757  4.074779
6324         7      168       5  891351509  4.083443
18292        7      480       4  891352093  4.050627
10422        7      210       4  891352904  4.060145
32677        7       64       5  891350756  4.147364
6336         7      269       3  891349991  4.098292
27649        7      100       5  891351082  4.196905
3955         9      691       5  886960055  4.252112
29557        9      294       4  886959453  4.103512
5545        10       22       5  877888812  4.316120
15952       10      183       5  877893020  4.269489
4183        10      124       5  877888545  4.246839
7383        10      651       4  877888812  4.245972
19465       10      144       4  877892110  4.241755
53618       10      185       5  877888876  4.253397
14324       10      269       4  877886162  4.290932
30061       10      174       4  877886661  4.384775
7852        12      191       5  879960801  4.446818
90027       12       69       5  879958902  4.379511
7699        12       15       5  879959670  4.378904
49782       12       98       5  879959068  4.544234
19337       12      318       5  879960826  4.522517
8628        12      754       4  879958810  4.323311
3311        14      357       2  890881294  4.163847
19273       14      285       5  879119118  4.110472
...        ...      ...     ...        ...       ...
75373      932      183       4  891249877  4.009478
70420      932      483       5  891249962  4.065215
88376      932      100       5  891249586  4.138974
91532      935      300       4  884471955  4.109567
99907      935      117       4  884472229  4.107862
96617      935      620       2  884472627  4.050791
91185      935        9       1  884472352  4.141318
92729      935      255       4  884472247  4.040541
73371      936      181       4  886832596  4.005870
86438      939      285       5  880261184  4.385744
92342      939      257       5  880260805  4.339342
90881      939      591       5  880260994  4.306358
80434      939     1051       5  880262090  4.286559
88997      939      283       5  880261291  4.314236
85347      939      255       5  880261094  4.274258
78091      939      818       3  880262057  4.285753
69227      939      258       4  880260692  4.410398
92090      941      300       4  875048495  4.118166
80319      941      475       4  875049038  4.139858
69939      941      124       5  875048996  4.146315
83577      941      257       4  875048952  4.107352
93680      941      919       5  875048887  4.087700
74434      942      878       4  891282702  4.311478
96209      942      124       4  891283068  4.416674
73640      942      500       5  891282816  4.343678
68192      942      487       4  891282985  4.356795
67222      942      604       4  891283139  4.357055
67031      942      117       4  891282816  4.398540
74960      942      216       4  891282963  4.406725
70447      942      511       4  891282931  4.418824

[1467 rows x 5 columns]

## 7.Regardless Top movies, just calculating overal  metrics.

#### This is precision:

In [16]:
pred_true=df.iloc[np.where(df['pred']>=4)[0],:]
len(np.where(pred_true['rating']>=4)[0])*1.0/pred_true.shape[0]

0.7999316005471956

#### This is recall:

In [17]:
h=df.iloc[np.where(df['pred']!=0)[0],:]
len(np.where(h['pred']>=4)[0])*1.0/len(np.where(h['rating']>=4)[0])

0.26715395157606214

## 8.For better performance, tring to run model only based on users who rated at least n movies.

In [18]:
df_by_user_id=df.groupby('user_id').size()
hot=df_by_user_id.sort_values(ascending=False)

In [25]:
def precision_least(i):
    dfplus=df_by_user_id.iloc[np.where(df_by_user_id>=i)[0]]
    df_least=df.iloc[np.where(df['user_id'].isin(dfplus.index))]    
    pred_true=df_least.iloc[np.where(df_least['pred']>=4)[0],:]
    return len(np.where(j['rating']>=4)[0])*1.0/pred_true.shape[0]

In [26]:
x=range(20,105,5)
map(precision_least,x)

[0.7999316005471956,
 0.8362531283518055,
 0.8596104373392135,
 0.887329286798179,
 0.9158183241973376,
 0.9341054313099042,
 0.9621554915672563,
 1.0099309153713298,
 1.0622161671207992,
 1.0904428904428904,
 1.1207474844274077,
 1.1619473422752111,
 1.2075374290139391,
 1.2246073298429319,
 1.2481323372465314,
 1.269815418023887,
 1.3045175683212493]

## 9.For better performance, tring to recommend only top N movies to users.

In [22]:
def precision_hot(i):
    REC=df3.sort_values('pred',ascending=False).groupby('user_id').head(i)
    return (REC.sort_values('user_id')['rating']>=4).sum()*1.0/len(REC.index)

In [23]:
x=range(1,16)
map(precision_hot,x)

[0.87142857142857144,
 0.861328125,
 0.8635724331926864,
 0.85365853658536583,
 0.85004686035613874,
 0.84305669679539852,
 0.84370370370370373,
 0.83844580777096112,
 0.83661792752701847,
 0.83263347330533888,
 0.83190883190883191,
 0.8316993464052288,
 0.82854155776267646,
 0.82661290322580649,
 0.82787286063569687]